@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
}

.prose th,
.prose td {
  border: 1px solid #e2e8f0; /* border-gray-300 */
  padding: 0.75em;
  text-align: left;
}

.prose th {
  background-color: #edf2f7; /* bg-gray-100 */
}

.prose tr:nth-child(even) {
  background-color: #f7fafc; /* bg-gray-50 */
}
